/*
 * Description: Style sheet for personal landing page
 * Author:      Caleb Gross
 */

@background-color: #ecf0f1;
@padding: 35px;
@image-margin: 30px;
@border: 3px;
@icon: 50px;

@smartphones: ~"only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)
";

body {

	background-color: @background-color;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
	display: none;

	.outer {
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;

		.middle {
			display: table-cell;
			vertical-align: middle;

			.inner {
				margin-left: auto;
				margin-right: auto; 
				text-align: center;

				@media @smartphones {
					width: 100%;
				}

				#name {
					font-size: @padding;
					border: @border solid;
					padding: @padding;
					margin-bottom: @padding / 2;
					display: inline-block;

					@media @smartphones {
						font-size: @padding * 2.5;
						border: @border * 2 solid;
						padding: @padding * 2.5;
						margin-bottom: @padding;
					}

					#first {
						font-weight: 700;
					}

					#last, #email {
						font-weight: 300;
					}
				}

				#subtext {
					font-size: @padding / 2;
					margin-bottom: @padding;

					@media @smartphones {
						font-size: @padding * 1.25;
						margin-bottom: @padding * 2;
					}
				}

				#links {

					.row {
						display: inline;

						@media @smartphones {
							display: inline-block;
						}

						.icon {
							display: inline-block;
							margin: @image-margin;

							@media @smartphones {
								margin: @image-margin * 1.5;
							}

							img {
								height: @icon;
								width: @icon;

								@media @smartphones {
									height: @icon * 3;
									width: @icon * 3;
								}
							}
						}

						#email-icon {
							cursor: pointer;
						}
					}					
				}
			}
		}
	}
}